\:root
  --color-white: #FFFFFF
  --color-black: #000000

  // RED
  --color-red-100: #F6D0D1
  --color-red-300: #ED686B
  --color-red-500: #EC1C24
  --color-red-700: #9A0000
  --color-red-900: #68181E
  
  // BLACK
  --color-black-20: rgba(34, 34, 34, 0.2)
  --color-black-50: rgba(0, 0, 0, 0.5)

  // GRAY
  --color-gray-100: #FAFAFA
  --color-gray-300: #E9E9E9
  --color-gray-500: #A8A8A8
  --color-gray-700: #707070
  --color-gray-800: #333333
  --color-gray-900: #222222

  // FONTS
  --font-open: 'Open-Sans', sans-serif