@import base

// VIDEOS

.videos
  padding-top: 25px
  overflow: hidden
  position: relative

  &__header
    height: 80px
    background-color: var(--color-gray-800)
    padding: 16px 22px
    border-radius: 8px
    text-transform: uppercase
    display: flex
    align-items: center
    justify-content: space-between

  &__title
    color: var(--color-red-300)
    font-size: 28px
    line-height: 34px

  &__buttons
    display: flex
    align-items: center
    column-gap: 12px

  &__more
    display: flex
    align-items: center
    justify-content: center
    color: var(--color-gray-700)
    width: 48px
    height: 48px
    border-radius: 4px
    border: 2px solid var(--color-gray-700)
    font-size: 0
    line-height: 0
    background-color: var(--color-gray-800)
    
    svg
      width: 7px

    polygon
      fill: var(--color-gray-700)
      transition: fill ease .25s

    &:hover
      background-color: var(--color-gray-900)
      color: var(--color-red-300)
      border-color: var(--color-gray-900)

      polygon
        fill: var(--color-red-300)

  &__arrow
    display: none

  &__content
    margin-top: 25px

// LAST

.last
  position: relative
  border-radius: 8px
  overflow: hidden
  font-size: 0
  line-height: 0

  &__image
    width: 100%
    height: auto

  &__info
    background-color: var(--color-gray-800)
    padding: 16px

  &__play
    padding: 0
    border: none
    background-color: transparent
    font-size: 0
    line-height: 0
    cursor: pointer
    position: absolute
    top: 15px
    left: 15px

    svg
      width: 33px

    path
      fill: var(--color-white)

  &__hat
    text-transform: uppercase
    color: var(--color-red-300)
    font-size: 12px
    line-height: 16px

  &__title
    font-size: 16px
    line-height: 22px
    color: var(--color-white)
    margin-top: 8px

// FEED
.feed
  padding-top: 25px
  padding-bottom: 25px

  &__swiper

  &__slide
    border-radius: 10px
    overflow: hidden
    width: 292px

  &__info1
    font-size: 0
    line-height: 0
    position: relative
    height: 190px
    overflow: hidden
    display: flex
    align-items: center
  
  &__image
    width: 100%
    height: 100%
    object-fit: cover

  &__comment
    display: none

  &__play
    position: absolute
    left: 15px
    top: 15px
    padding: 0
    background-color: transparent
    border: none
    transition: opacity ease .2s
    cursor: pointer

    svg
      width: 33px
    
    path
      fill: var(--color-white)

  &__info2
    background-color: var(--color-gray-800)
    padding: 18px 15px
    transition: background-color ease .2s

  &__hat
    font-size: 12px
    line-height: 16px
    color: var(--color-red-300)
    text-transform: uppercase

  &__title
    font-size: 16px
    margin-top: 8px
    line-height: 22px
    color: var(--color-white)
    height: 44px
    overflow: hidden


@media (min-width: 576px)  
  // VIDEOS

  .videos__more
    width: 120px
    font-size: 14px
    line-height: 16px
    
    svg
      margin-left: 5px

  
@media (min-width: 1200px)
  // VIDEOS

  .videos
    padding-top: 80px
    padding-bottom: 50px

    &::after
      content: ''
      height: 770px
      width: 1800px
      position: absolute
      background: linear-gradient(93.03deg, var(--color-gray-900) 0.41%, #2E2E2E 98.74%)
      border-radius: 8px
      top: 105px
      right: 50%
      margin-right: -1005px
      z-index: -1

    &::before
      content: ''
      height: 570px
      width: 1500px
      position: absolute
      top: 0
      background-color: var(--color-gray-700)
      z-index: -2
      left: 50%
      margin-left: -1445px

    &__more
      transition: all ease .25s
      box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.30)
      
      &:hover
        background-color: var(--color-gray-900)
        color: var(--color-red-300)
        border-color: var(--color-gray-900)

    &__arrow
      box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.30)
      width: 48px
      height: 48px
      border-radius: 4px
      border: none
      background-color: #0f0f0f
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      display: block

      svg
        width: 8px

      polygon
        fill: var(--color-red-100)

      &:hover
        background-color: #282828

      &--prev svg
        transform: rotate(-90deg)

      &--next svg
        transform: rotate(90deg)

      &.swiper-button-disabled
        cursor: default
        background-color: #242424

      &__content
        margin-top: 35px

  // LAST

  .last
    border-radius: 4px
    border: 4px solid var(--color-red-300)
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.30)

    &::before,
    &::after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      z-index: 2

    &::before
      background-color: var(--color-black)
      opacity: .5

    &::after
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%) 

    &__info
      position: absolute
      bottom: 0
      left: 0
      width: 760px
      padding: 0 45px 50px 45px
      z-index: 3
      background-color: transparent

    &__play
      position: static

      svg
        width: 60px
      
      path
        fill: var(--color-red-300)

    &__hat
      margin-top: 15px

    &__title
      font-size: 26px
      line-height: 30px
      margin-top: 8px

  // FEED
  .feed
    padding-top: 0 
    padding-bottom: 0
    &__swiper
      height: 643px

    &__slide
      border: 3px solid transparent
      transition: border ease .2s
      height: 312px
      width: auto

      &:hover
        border-color: var(--color-red-300)
        
        .feed
          &__info1
            &::before
              opacity: .5

          &__comment
            opacity: 1
        
          &__play
            opacity: 1

          &__info2
            background-color: var(--color-gray-900)

    &__info1
      height: 202px

      &::before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background-color: var(--color-black)
        opacity: 0
        transition: opacity ease .2s

    &__comment
      position: absolute
      right: 15px
      bottom: 15px
      font-size: 12px
      line-height: 16px
      color: var(--color-red-100)
      display: flex
      align-items: center
      column-gap: 8px
      opacity: 0
      transition: opacity ease .2s

      svg
        width: 18px

      path
        fill: var(--color-red-100)

    &__play
      transition: opacity ease .2s
      opacity: 0

      svg
        width: 33px

      path
        fill: var(--color-red-300)

    &__info2
      padding: 18px 15px
      transition: background-color ease .2s

    &__title
      margin-top: 8px
      height: 44px
      overflow: hidden